<div class="jumbotron">
    <h1>Hello API!</h1>
    <p class="lead">This sample demostrates how to secure and call an ASP.NET Web API 2 using Azure AD B2C.</p>
    <p>Authorized calls to the /hello endpoint returns a "Hello there! DisplayName" string.</p>
</div>
